{% extends 'core/base.html' %}
{% load static %}

{% block contenido %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Actualizar Empleado</h3>
                </div>
                <div class="card-body">
                    <form action="" method="POST">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="rut" class="form-label">RUT:</label>
                            {{ form.rut }}
                        </div>
                        <div class="mb-3">
                            <label for="nombre" class="form-label">Nombre:</label>
                            {{ form.nombre }}
                        </div>
                        <div class="mb-3">
                            <label for="apellido" class="form-label">Apellido:</label>
                            {{ form.apellido }}
                        </div>
                        <div class="mb-3">
                            <label for="edad" class="form-label">Edad:</label>
                            {{ form.edad }}
                        </div>
                        <div class="mb-3">
                            <label for="direccion" class="form-label">Dirección:</label>
                            {{ form.direccion }}
                        </div>
                        <div class="mb-3">
                            <label for="telefono" class="form-label">Teléfono:</label>
                            {{ form.telefono }}
                        </div>
                        <div class="mb-3 form-check">
                            {{ form.habilitado }}
                            <label class="form-check-label" for="habilitado">Habilitado</label>
                        </div>
                        <div class="mb-3">
                            <label for="genero" class="form-label">Género:</label>
                            {{ form.genero }}
                        </div>
                        <div class="mb-3">
                            <label for="tipo" class="form-label">Tipo de Empleado:</label>
                            {{ form.tipo }}
                        </div>
                        <div class="mb-3">
                            <label for="fecha_ingreso" class="form-label">Fecha de Ingreso:</label>
                            {{ form.fecha_ingreso }}
                        </div>
                        <button type="submit" class="btn btn-warning">Actualizar</button>
                        <a class="btn btn-danger" onclick="confirmarDelete({{aux.id}})" >Eliminar</a>
                    </form>
                    <h4>{{msj}}</h4>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block js %}
<script src="{% static 'core/js/funciones.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
{% endblock %}