{% load static %}
    <div class="container">
        <div class="row"> 
            <div class="col">
                <h1>Lista de Empleados</h1>
                <table>
                    <thead>
                        <tr>
                            <th>Rut</th>
                            <th>Nombre</th>
                            <th>Apellido</th>
                            <th>Opciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for aux in lista %}
                        <tr>
                            <td> {{ aux.rut }} </td> 
                            <td> {{ aux.nombre }} </td>
                            <td> {{ aux.apellido }} </td>
                            <td> <a href="{% url 'empleadosupdate' aux.id %}">Modificar</a> - <a onclick="confirmarDelete({{aux.id}})">Eliminar</a> </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <script src="{% static 'core/js/funciones.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>